<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= project %></title>
	
	<link href="lib/bootstrap.css" rel="stylesheet">
	
	<link href="css/style.css" rel="stylesheet">
		
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand pull-left" href="/"><%= project %></a>
			</div>
		</div>
	</div>
	
	<div class="container meta" id="prompt">
		<div class="hero-unit content">
			Welcome! Who do you think is cool from PennApps?
			
			<form action="/followers" method="GET">
				<input type="text" name="username" value="" id="username" placeholder="Username">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	
</body>

</html>